.EventBox-1{
    width: 100vw;
    padding: 20px 1px;
    background-color: brown;
}
.EventBox-2{
    width: 80vw;
    margin: 20px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
